<div>
<h1>{{title}}</h1>
</div>
<div>
    <div>
      <nav>
       <div class="navbar-collapse">    
        <ul class="navbar-nav mr-auto">    
          <li class="nav-item active">    
            <a class="nav-link" routerLink="" routerLinkActive="active">Home</a>    
          </li>    
          <li class="nav-item">    
            <a class="nav-link " routerLink="help" routerLinkActive="active">Help</a>    
          </li>    
          <li class="nav-item">    
            <a class="nav-link" routerLink="aboutus" routerLinkActive="active">Aboutus</a>    
          </li>    
      </ul>    
    </div>    
  </nav>    
    <router-outlet></router-outlet>    
  </div>  
