<div>
<h1>{{title}}</h1>
</div>
<div>
    <div>
      <nav>
       <div class="navbar-collapse">    
        <ul class="navbar-nav mr-auto">    
          <li class="nav-item active">    
            <a class="nav-link" routerLink="" routerLinkActive="active">Product Home</a>    
          </li>    
          <li class="nav-item">    
            <a class="nav-link " routerLink="product" routerLinkActive="active">Product list</a>    
          </li>    
          <li class="nav-item">    
            <a class="nav-link" routerLink="order" routerLinkActive="active">order</a>    
          </li> 
          <li class="nav-item">    
            <a class="nav-link" routerLink="bill" routerLinkActive="active">Billing</a>    
          </li>   
      </ul>    
    </div>    
  </nav>    
    <router-outlet></router-outlet>    
  </div>  
