<main>
    <section class ="hero-unit-container">
        <div class ="hero-unit-mask">
           <h1>Welcome to Stackroute</h1>
        </div>
    </section>
    <section class="paper-layout-section">
        <h2>Paper Layout using Flex</h2>
         <section class="paper-card-container">
             <div class="card">
                 <h3>Java FSD</h3>
                 <img src="/images/java.png">
                 <p>It is a java FSD Course</p>
             </div>
             <div class="card">
                <h3>DOTNET FSD</h3>
                <img src="/images/dotnet.jpg">
                <p>It is a dotnet FSD Course</p>
            </div>
            <div class="card">
                <h3>MEAN FSD</h3>
                <img src="/images/mean.jpg">
                <p>It is a mean FSD Course</p>
            </div>
         </section>
    </section>
</main>
